.simple-card {
	@include flexbox (row, initial, flex-start);
	flex-wrap: wrap;

	@media (max-width: 767.98px) {
		flex-direction: column;
	}

	.item {
		width: calc((100% / 3) - 11px);

		display: flex;
		flex-direction: column;

		&:not(:last-of-type) {
			margin-right: 16px;

			@media (max-width: 767.98px) {
				margin-right: 0;
				margin-bottom: 48px;
			}
		}

		@media (max-width: 767.98px) {
			width: 100%;
		}

		img {
			margin-bottom: 16px;
			display: block;
			width: 100%;
			max-width: 100%;
			
			border: 2px solid #A9A9A9;
			border-radius: 16px;

			margin: 0 auto;
			margin-bottom: 16px;
			height: auto;
			object-fit: cover;

			@media (min-width: 767px) and (max-width: 991px){
				height: 166px;
			}
		}

		.date {
			margin-bottom: 8px;

			font-size: rem(13);
			line-height: rem(16);

			color: var(--text-dark-grey);
		}

		.title {
			margin-bottom: 16px;

			font-size: rem(21);
			font-weight: 700;
			line-height: rem(32);
		}

		.read-more{
			margin-top: auto;
		}
	}
}

.ecosystem-cash3-card {
	margin-bottom: 40px;

	@include flexbox (row, flex-start, flex-start);
	flex-wrap: wrap;

	.item {
		margin-bottom: 16px;
		border-radius: 24px;

		width: calc((100% / 3) - 10.7px);
		height: 120px;

		transition: background-color .15s ease-in-out;
		filter: drop-shadow(0px 2.91289px 11.6516px rgba(0, 0, 0, .06));
		background-color: var(--pure-white);
		border: 2px solid var(--pure-white);

		@include flexbox (row, center, center);

		&:not(:nth-of-type(3n)) {
			margin-right: 16px;
		}

		&:hover {
			border: 2px solid var(--pure-black);
		}

		@media (max-width: 991.98px) {
			margin-right: 16px;
		}

		&.tabs--active {
			background-color: var(--meliuz-main-color);

			img {
				filter: grayscale(1) invert(1) brightness(2);
			}
		}
	}
}

.horizontal-card {
	@include flexbox (row, flex-start, flex-start);

	&:not(:last-of-type) {
		margin-bottom: 38px;
	}

	@media (max-width: 767.98px) {
		flex-direction: column;
	}

	.thumbnail {
		margin-right: 32px;

		@media (max-width: 767.98px) {
			margin-right: 0;
			margin-bottom: 32px;
		}

		img {
			border-radius: 16px;
		}
	}

	.introduction {
		width: calc((100% - 252px) - 32px);

		@media (max-width: 767.98px) {
			width: 100%;
		}

		.title {
			margin-bottom: 8px;
			font-weight: 700;
		}

		.description {
			margin-bottom: 16px;
			color: var(--text-grey);
		}
	}
}

.vertical-simple-card {
	@include flexbox (row, flex-start, flex-start);
	flex-wrap: wrap;

	@media (max-width: 767.98px) {
		flex-direction: column;
	}

	.item {
		margin-bottom: 48px;
		width: calc((100% / 3) - 22px);

		&:not(:nth-of-type(3n)) {
			margin-right: 32px;

			@media (max-width: 767.98px) {
				margin-right: 0;
			}
		}

		@media (max-width: 767.98px) {
			width: 100%;
		}

		img {
			border-radius: 16px;
			margin-bottom: 16px;

			display: block;
			width: 100%;
			max-width: 100%;
			padding: 16px;
			border: 2px solid #A9A9A9;
			margin: 0 auto;

			height: 200px;
			object-fit: contain;

			margin-bottom: 8px;
		}

		.date {
			margin-bottom: 8px;

			font-size: rem(14);
			font-weight: 700;
			line-height: rem(20);

			color: var(--text-dark-grey);
		}

		.title {
			margin-bottom: 16px;

			font-weight: 700;

			color: var(--text-color);

		}
	}
}

.administration-card {
	@include flexbox (row, stretch, flex-start);
	flex-wrap: wrap;

	.item {
		margin-bottom: 40px;
		width: calc((100% / 4) - 24px);

		&:not(:nth-of-type(4n)) {
			margin-right: 32px;
		}

		@media (max-width: 767.98px) {
			width: calc((100% / 2) - 16px);

			&:not(:nth-of-type(4n)) {
				margin-right: 0;
			}

			&:not(:nth-of-type(2n)) {
				margin-right: 32px;
			}
		}

		.thumbnail {
			margin-bottom: 16px;
			display: block;

			img {
				border-radius: 16px;
				width: 100%;
			}
		}

		.name, .role {
			text-align: center;
		}

		.name {
			margin-bottom: 8px;

			font-weight: 700;
		}

		.role {
			display: block;
			margin-bottom: 0;
		}
	}
}

.horizontal-card_email {
	margin-top: 24px;

	@include flexbox (row, center, flex-start);
	gap: 8px;

	&:not(:last-of-type) {
		margin-bottom: 38px;
	}

	.thumbnail {
		margin-right: 8px;

		img {
			border-radius: 16px;
		}
	}

	.introduction {
		width: calc((100% - 80px) - 8px);

		.title {
			margin-bottom: 0;
			font-weight: 700;
		}

		.description {
			@include flexbox (row, center, flex-start);

			color: var(--text-grey);

			@media (max-width: 767.98px) {
				font-size: rem(13);
				line-height: rem(24);
			}

			[class^='icon-'] {
				margin-right: 8px;
				display: block;
			}
		}
	}
}
