@mixin flexbox ($flex-direction, $align-items, $justify-content) {
	display: flex;

	flex-direction: $flex-direction;
	align-items: $align-items;
	justify-content: $justify-content;
}

@mixin button {
	box-shadow: none;

	border: 2px solid;
	border-radius: 8px;

	padding: 8px 40px;

	display: inline-flex;
	align-items: center;
	justify-content: flex-start;

	text-align: center;

	font-size: rem(18);
	font-weight: 700;
	line-height: rem(24);

	font-family: var(--font-hero-new);
	text-decoration: none;

	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

	&:disabled {
		cursor: not-allowed;

		border-color: var(--system-disabled);
		color: var(--text-white);
		background-color: var(--system-disabled);

		&:hover, &:focus {
			border-color: var(--system-disabled);
			background-color: var(--system-disabled);
		}
	}

	[class^='icon-'] {
		margin-left: 8px;
		display: block;
	}

	&.sm-button {
		padding: 8px 16px;

		font-size: rem(14);
		line-height: rem(24);
	}

	&.border-button, &.borderless-button {
		color: var(--text-dark);
		background-color: transparent;

		&:hover, &:focus {
			border-color: inherit;
			color: inherit;
			background-color: inherit;
		}
	}

	&.border-button {
		border-color: var(--text-dark);

		&:hover {
			background-color: var(--light-color-300);
		}
	}

	&.borderless-button {
		border: none;
	}
}
